// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
.item-md.item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
.content-md {
    background: url(../assets/imgs/wrapper.png);
}

.list-button  {
    opacity: 0.75;
}

.item-block {
    background: #525252;
    opacity: 0.75;
    margin-bottom: 8px;
    color: color($colors, light);
}
.toolbar-content {
    opacity: 0.8;
}
.list-button:focus, .list-button:active {
    background: #303030;
}
.item-block:focus, .item-block:active {
    background: #303030;
}

.item-block:focus, .item-block:active {
    background: #303030;
}

ion-header .toolbar-background {
    background: url(../assets/imgs/wrapper4.png);
}

h3 {
    color: color($colors, grayr);
}

p {
    font-size: 2rem;
    color: color($colors, light);
}

ion-searchbar {
    opacity: 0.85;
}

.item-md.activated {
    background-color: color($colors, dark);
}

ion-icon {
    font-size: 2.1rem;
}

.menu ion-icon {
    font-size: 1.6rem;
}

.alert-md .alert-button {
    color: color($colors, grayr);
}
