<ion-header>
    <ion-navbar>
        <ion-title>Select icon</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-searchbar [(ngModel)]="searchValue" [placeholder]="'SEARCH_ICON' | translate" [showCancelButton]="shouldShowCancel"
        (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)" margin-bottom>
    </ion-searchbar>
    <!-- <ion-item>None</ion-item> -->
    <ion-item *ngFor="let i of showingIcons" (click)="makeChoice(i)">
        <ion-row justify-content-between>
            <ion-icon [name]="i.icon"></ion-icon>
            {{ i.icon }}
        </ion-row>
    </ion-item>
</ion-content>
